.viewport {
  height: 100%;
  width: 100%;
}

.item{
  height:20px;
  width: 100%;
}

.start-eval-table {
  width:100%;
}

.search-bar {
  padding: 1rem;
}

.table-header {
  text-align: center;
}
// td {
//   text-align: center;
// }
