@import '~@angular/material/theming';
@import './default.theme.scss';
@mixin table-component-theme($theme, $background) {


  // retrieve variables from theme
  // (all possible variables, use only what you really need)

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  .mat-table{
    // let's take mat-toolbar's default theme
    // ref: https://github.com/angular/material2/blob/88601fa51d581f538468a9b63890b0e285e519cb/src/lib/toolbar/_toolbar-theme.scss#L39
    background-color: $background;
    color: mat-color($foreground, text);

    // now, mat-toolbar's colored themes
    &[color=primary]{
      @include component-color($primary);
    }
    &[color=accent]{
      @include component-color($accent);
    }
    &[color=warn]{
      @include component-color($warn);
    }
  }

  .mat-paginator{
    // let's take mat-toolbar's default theme
    // ref: https://github.com/angular/material2/blob/88601fa51d581f538468a9b63890b0e285e519cb/src/lib/toolbar/_toolbar-theme.scss#L39
    background-color: $background;
    color: mat-color($foreground, text);

    // now, mat-toolbar's colored themes
    &[color=primary]{
      @include component-color($primary);
    }
    &[color=accent]{
      @include component-color($accent);
    }
    &[color=warn]{
      @include component-color($warn);
    }
  }
}
