<div  class="stepper-container">
  <mat-vertical-stepper [linear]="true" #stepper class="stepper">
    <mat-step>
      <ng-template matStepLabel>Select Study</ng-template>
      <div fxLayout="column">
        <button mat-button>Upload Image</button>
        <mat-form-field>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let study of studies" [value]="study.patientId">
              {{study.patientId}}
            </mat-option>
          </mat-autocomplete>
          <input type="text"
                 placeholder="Select Existing Study"
                 aria-label="Number"
                 matInput
                 [formControl]="studyControl"
                 [matAutocomplete]="auto">
        </mat-form-field>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Select Model</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Result</ng-template>
    </mat-step>
  </mat-vertical-stepper>
</div>

