<mat-sidenav-container [ngClass]="theme" class="mat-typography" fxFlexFill>
  <mat-sidenav #sidenav mode="side" [opened]="!isMobile" class="app-background" >
    <app-sidehav *ngIf="authService.loggedIn"></app-sidehav>
  </mat-sidenav>
  <mat-sidenav-content class="content" class="app-background">
    <div class="menu-icon"  *ngIf="isMobile">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </div>
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
