@import '~@angular/material/theming';


.job-table {
  width: 100%
}

.job-card {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  opacity: 0.8;
  cursor: pointer;
  height: 10rem;
  font-size: 1.5rem;
}

.inactive-card {
  opacity: 0.5;
}

.active-card {
  background-color: mat-color($mat-green, 600);
}

.job-container {
  margin: 1rem;
}

.unpulled-card {
  background-color: mat-color($mat-blue, 600);
}

.failed-card {
  background-color: mat-color($mat-red, 600);
}
