
<div fxLayoutAlign="center center">
  <button mat-icon-button (click)="addNew()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div *ngIf="jobs$ | async as jobs" fxLayoutGap="1rem" fxLayout="row wrap" class="job-container">
  <mat-card *ngFor="let job of jobs"
            class="job-card"
            [ngClass]="{'active-card': job.running , 'unpulled-card': !job.model.pulled, 'inactive-card': !job.running, 'failed-card': job.model.failed }"
            fxLayout="column">

    {{job.model.displayName}}
    <div>
      <button mat-button>Info</button>
      <button mat-button (click)="toggleJob(job.id, job.running)">Turn {{job.running? 'Off': 'On'}}</button>
    </div>
  </mat-card>
</div>
