<div fxLayoutAlign="center center" fxLayout="column" *ngIf="models$ | async as models">
  <div class="search-bar">
    <mat-form-field fxFill>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" [formControl]="searchControl">
    </mat-form-field>
  </div>
  <button mat-button (click)="openAddLabels()" class="add-label-button">Add Labels</button>
  <div class="container"
        fxLayout="row wrap" 
        class="job-container" 
        fxLayoutAlign="center">
    <app-study-card *ngFor="let study of studies" [study]="study" [models]="models"></app-study-card>
  </div>
</div>
