<div fxLayoutAlign="center center" fxLayout="column" *ngIf="models$ | async as models">
  <div class="mat-elevation-z8 start-eval-table">
    <div class="search-bar">
      <mat-form-field fxFill>
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" [formControl]="searchControl">
      </mat-form-field>
    </div>
    <button mat-button (click)="openAddLabels()" class="add-label-button">Add Labels</button>
    <table mat-table [dataSource]="studies" class="start-eval-table">
      <ng-container matColumnDef="study">
        <th mat-header-cell *matHeaderCellDef> Study </th>
        <td mat-cell *matCellDef="let element"> {{element.orthancStudyId}} </td>
      </ng-container>

      <ng-container matColumnDef="studyType">
        <th mat-header-cell *matHeaderCellDef> Study Type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="modality">
        <th mat-header-cell *matHeaderCellDef> Modality</th>
        <td mat-cell *matCellDef="let element"> {{element.modality}} </td>
      </ng-container>

      <ng-container matColumnDef="seriesUid">
        <th mat-header-cell *matHeaderCellDef> Series UId</th>
        <td mat-cell *matCellDef="let element"> {{element.seriesUid}} </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef > Model </th>
        <td mat-cell *matCellDef="let element">
          <app-model-dropdown
            [modelFormControl]="modelControls[element.orthancStudyId]" [models]="models" [studyType]="element.type">
          </app-model-dropdown>
        </td>
      </ng-container>
      <ng-container matColumnDef="submit">
        <th mat-header-cell *matHeaderCellDef>Start</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button type="submit" (click)="startEval(element)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button type="submit" (click)="deleteStudy(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 5, 20]" showFirstLastButtons (page)="page($event)" [length]="totalStudies"></mat-paginator>
  </div>
</div>
