<div class="banner">AI</div>
<div *ngFor="let item of sidenavItems" class="sidenav-item" [matTooltip]="item.displayValue">
  <div>
    <button mat-button [routerLink]="item.routerLink" class="sidenav-item" fxLayoutAlign="center">
      <div><mat-icon>{{item.icon}}</mat-icon></div>
      <div>{{item.displayValue}}</div>
    </button>
  </div>
</div>
<div class="sidenav-item" matTooltip="Notifications">
  <div>
    <button mat-button class="sidenav-item" fxLayoutAlign="center" (click)="openNotificationDialog()">
      <div [matBadge]="notifications.length" [matBadgeHidden]="notifications.length === 0">
        <mat-icon>notifications</mat-icon>
      </div>
    </button>
  </div>
</div>
