<!-- <mat-card class="job-card component-background"
          fxLayout="column">

    {{job.model.displayName}}

    <mat-form-field appearance="fill" class="replica-input">
        <mat-label>Replicas</mat-label>
        <input matInput type="number" [formControl]="replicasControl" placeholder="No. Replicas" [(ngModel)]="job.replicas" >
    </mat-form-field>
    <button mat-button (click)="toggleCpu(job)">CPU {{job.cpu? 'On': 'Off'}}</button>

    <div *ngIf="job.model.pulled && !job.model.failedPull" fxLayoutAlign="center center">
        <div>
        <button mat-button (click)="toggleJob(job.id, job.running)">Turn {{job.running? 'Off': 'On'}}</button>
        </div>
        <div>
        
        </div>
        <div>
        </div>
    </div>
    <div>
        <button mat-button (click)="deleteJob(job)">Delete Model</button>
    </div>
</mat-card> -->

<mat-expansion-panel class="model-card" [ngClass]="{'active-card': running}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{job.model.displayName}}
      </mat-panel-title>
      <mat-panel-description>
        {{job.model.modality}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
        <mat-grid-list cols="2" rowHeight="7:1">
          <mat-grid-tile>Running</mat-grid-tile>
          <mat-grid-tile>
            <mat-slide-toggle [formControl]="runningControl"></mat-slide-toggle>
          </mat-grid-tile>
          <mat-grid-tile>CPU Only</mat-grid-tile>
          <mat-grid-tile>
            <mat-slide-toggle [formControl]="cpuControl"></mat-slide-toggle>
          </mat-grid-tile>
          <mat-grid-tile>Replicas</mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="fill" class="replica-input">
              <mat-label>Replicas</mat-label>
              <input matInput type="number" [formControl]="replicasControl" placeholder="No. Replicas" [(ngModel)]="job.replicas" >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>Modality</mat-grid-tile>
          <mat-grid-tile *ngIf="modalities$ | async as mo">
            <mat-form-field>
              <mat-label>Modality</mat-label>
              <mat-select [formControl]="modalityControl">
                <mat-option *ngFor="let m of mo.modalities" [value]="m">
                  {{m}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>  
        </mat-grid-list>
        <button mat-button color="warn" class="delete-button" (click)="delete()">Delete Model</button>
    </div>
  </mat-expansion-panel>