<div>
  <form [formGroup]="jobForm"
        *ngIf="models$ | async as models"
        (ngSubmit)="submit()"
        fxLayout="column"
        fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>Docker Image</mat-label>
      <mat-select formControlName="model">
        <mat-option *ngFor="let model of models" [value]="model">
          {{model.image}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose a date to end job</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="endTime">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!jobForm.valid">Start Job</button>
  </form>
</div>
