<div fxLayout="column" fxFill>
  <div infiniteScroll
  [infiniteScrollDistance]="5"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  class="studies-container"
  [scrollWindow]="false"
  fxFlex="95">
  <h2>Data</h2>
  <div class="search-bar">
    <mat-form-field  fxFill>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" [formControl]="searchControl">
    </mat-form-field>
    </div>
    <mat-form-field class="filter-button">
      <mat-label>Experiment</mat-label>
      <mat-select [formControl]="experimentFilterControl">
        <mat-option *ngFor="let experiment of experiments" [value]="experiment.id">
          {{experiment.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="filters">
      <mat-form-field fxFill>
        <mat-label>Study Type</mat-label>
        <mat-select [formControl]="studyTypeControl">
          <mat-option *ngFor="let studyType of studyTypes" [value]="studyType">
            {{studyType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFill>
        <mat-label>Study Modality</mat-label>
        <mat-select [formControl]="modalityControl">
          <mat-option *ngFor="let modality of modalities" [value]="modality">
            {{modality}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <button mat-button class="filter-button" (click)="clearFilters()">Clear</button>
    <div  cdkDropList
        [cdkDropListConnectedTo]="getExperimentIds()"
        id="studies">
      <mat-card   *ngFor="let study of studies"
                  class="study-card"
                  [ngClass]="{'active': isSelected(study.id), 'hidden': hideDragged && isSelected(study.id)}"
                  (click)="toggleSelect(study.id)"
                  cdkDrag
                  [cdkDragData]="study"
                  (cdkDragStarted)="hideMultiple()"
                  (cdkDragEnded)="showMultiple()"
                  [matTooltip]="study.seriesUid">
        {{(study.seriesUid.length>15)? (study.seriesUid | slice:0:15)+'...':(study.seriesUid)}}
      </mat-card>
    </div>
  </div>

  <button
    mat-button
    (click)="addStudies()"
    class="add-experiment-button"
    [disabled]="!experimentFilterControl.value"
    fxFlex="3">Add Selected to Experiment</button>
  <button
    mat-button
    (click)="addAllToExperiment()"
    class="add-experiment-button"
    [disabled]="!experimentFilterControl.value"
    fxFlex="3">Add All to Experiment</button>
</div>
