<div>
  <div>
    <form [formGroup]="classifierForm"
          *ngIf="images$ | async as images"
          (ngSubmit)="submitClassifier()"
          fxLayout="column"
          fxLayoutAlign="center center"
          class="register-form">
      <h2>Classifier</h2>
      <div *ngIf="classifiers$ | async as classifiers">
        <h3 *ngFor="let classifier of classifiers">Current {{classifier.modality}} Classifier: {{classifier.model.image}}</h3>
      </div>
      <mat-form-field>
        <mat-label>Docker Image</mat-label>
        <mat-select formControlName="image">
          <mat-option *ngFor="let image of images" [value]="image">
            {{image}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Modality</mat-label>
        <mat-select formControlName="modality">
          <mat-option *ngFor="let modality of modalities" [value]="modality">
            {{modality}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button type="submit" [disabled]="!classifierForm.valid">Submit</button>
    </form>
  </div>

</div>
